:root{
	--orange: #ff742A;
	--darkGray: #444;
	--lightGray: #E0E0E0;
	background-color: var(--lightGray);
	overflow: scroll;

}

@font-face {
font-family: "ostrich";
src: url(".ostrich-sans/Harabara.eot");
src: 
url("ostrich-sans/ostrich.woff") format("woff"),
url("ostrich-sans/ostrich.otf") format("opentype"),
url("ostrich-sans/ostrich.svg#filename") format("svg");
}

.sidebar {
	background-color: #174E7D;
	height: 100%;
	position: absolute;
	display: inline-block;
  	padding: 5px 15px;
}

.bar-button {
  background-color: #174E7D;
  /*border-radius: 5px;*/
  width: 10%;
  color: #E0E0E0;
  /*text-decoration: none;*/
  /*position: fixed!important;*/
}

.sidebar-closed{

}

.sidebar-open{

}

.button-close{
	
}

.logo{
	height: 100px;
	border-radius: 25px;
	background: var(--orange);
	padding: 20px; 
	width: 50px;
	height: 50px; 
}

.main-header{
	text-align: center;
	background-color: var(--darkGray);
	height: 100px;
	padding: 20px;
	color: white;
}

.main-title{
	text-align: center;
	font-size: 2em;
	/*font-family: ostrich, sans-serif;*/

}
.bar-item{
	text-align: center;
	font-size: 1em;
}

.container {
	text-align: center;
}

.animate-left{
	position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}
}