p{
	text-align: center;
	color: #7A7A7A;
	width: 50%;
}
.topnav{
	background-color: var(--darkGray);
}

#wrapper{
	padding: 0 5% 5% 5%;
}

.words{
	background-color: #fff;
	padding: 8% 3% 3%;
}

.words h1{
	border-bottom: 5px solid var(--darkGray);
	font-size: 50px;
	color:var(--darkGray);
    font-family: 'OstrichSans-Black',  "Impact", sans-serif;
}

.words h2{
	padding: 10%;
	/*background-color: var(--hopkinsBlue);*/
	border: 10px double var(--orange);
	border-radius: 40px;
	font-family: 'OstrichSans-Black',  "Impact", sans-serif;
}

.left{
	float: left;
}

.right{
	float: right;
}

div h2{
	/*margin-top:30px;*/
}

.thing1{
	margin-bottom: 100px;
	height: 500px;
}

.thing2{
	margin-top: 100px;
	height: 500px;
	margin-bottom: 10px;
}

/*div{
	border: 5px solid #000;

}*/