:root{
	--orange: #ff742a;
	--darkGray: #444;
	--lightGray: #f2f2f2;
	--hopkinsBlue: #4d7fc0;
	/*background-color: var(--lightGray);*/
	overflow: scroll;
	--headerHeight: 50px;
	/*--buttonStart: 100;*/
	margin:-10px -10px -10px -10px;
}

/*div{
  border: 3px solid var(--hopkinsBlue);
}*/

.image{
	position: relative; 
   	width: 100%;
}



/*.background {
	opacity: 0.80;
	fit
	max-width: 100%;
    max-height: 100%;
    background-size: 100% 100%;
    margin: 0px;


    center
    display: block;
    margin: 0px;
}*/


.header{
   position: absolute; 
   top: 68%; 
   left: 3%; 
   color: var(--hopkinsBlue);
   font-size: 180%;
   font-family: "Impact"
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    padding-left: 15%;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    float:left;
    margin:auto;
    display:inline-block;

    /*to fix navbar going behind the background image*/
    z-index:1000;

    /*to fix weird gap on top of navbar*/
    padding-top:20px;
    top: -20px;

}


/* Style the links inside the navigation bar */
.topnav a {
	  display:inline-block;
    float: left;
    color: var(--lightGray);
    text-align: center;
    padding: 1% 5%;
    text-decoration: none;
    font-size: 20px;

}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: var(--hopkinsBlue);
    color: white;
}

/*transform: scale(2.8);*/
.logo{
	height: 50px;
	border-radius: 15px;
	/*background: var(--orange);*/
	width: 50px;
}

.soclogos{
  height: 30px;
}

.bottom{
  padding: 10px 0px 10px;
  background-color: var(--darkGray);
  color: white;
  font-size: 15px;
  text-align: center;
  width: 100%;
  display: inline-block;

}

.buttonnav{
	margin: 10%;
}

.buttonnavright{
	float: right;
}

.buttonnav a{
	/*border: 3px dashed var(--orange);*/
	padding: 10% 10%;
	font-size: 30px;
  background-color: var(--hopkinsBlue);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
	
}


.buttonnav a:hover {
    background-color: #ddd;
    color: black;
    
}