:root{
}

.barrier{
	margin-top: 10%;
}

.center{
	width: 655px;
    margin: auto;
}

.comment{
	width: 100%;
}

#sendemail{
	border: 3px dashed #3089C0;
	padding: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.submit{
	float:right;
	background-color: #3089C0;
	height: 30px;
	width: 20%;
	border-radius: 10px;

}

p{
	font-size: 40px;
	color: var(--darkGray);
	opacity: 0.6;
	text-align: center;
}